<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='css/img/favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,700;0,900;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,900;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,900;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                var messages = {{ messages | safe }};
                for (var i=0; i<messages.length; i++) {
                    alert(messages[i]);
                }
            </script>
        {% endif %}
    {% endwith %}
    {% block head %} {% endblock %}
</head>

<body>
    <script >
        function kontrolapokoje() {
            var obsah = document.getElementById("number").innerHTML; 
            var rooms = {{rooms}};
            print(rooms);
           /* {% for u in uklidy %}
                var id = {{ u.room.number }};
                var nalezen = 0;
                if (id == obsah) {
                    nalezen = 1;
                    break;
                } 
            {% endfor %}*/

            if (nalezen == 0) {
                    document.getElementById("pokoj-check").style.box-shadow = "none";
            }else (nalezen == 1){
                    document.getElementById("pokoj-check").style.box-shadow = "0 0px 0px 0 rgb(255, 0, 0), 0 0px 6px 0 rgb(255, 0, 0)";
                    alert("Číslo tohoto pokoje neexistuje!");
                } 
    </script>
    <div class="menu-mobile">
        <label for="toggle"><img src="{{url_for('static', filename='css/img/menu1.png')}}" alt="menu-bars"  class="menu-bars"></label>
    </div>
    <input type="checkbox" id="toggle" />
    <div class="menu">
        <nav class="main-menu">
            <a href="{{ url_for('routes.main') }}" class="main-icon">Rentel</a>
            <ul>
                <li>
                    <a class="level" href="{{ url_for('routes.uklidy') }}">Úklidy</a>
                    <ul>
                        <li><a href="{{ url_for('routes.zadat_uklid') }}">Zadat úklid</a></li>
                        <li><a href="{{ url_for('routes.uklidy') }}">Seznam úklidů</a></li>
                    </ul>
                </li>
                <li>
                    <a class="level" href="{{ url_for('routes.zadat_zavadu') }}">Závady</a>
                    <ul>
                        <li><a href="{{ url_for('routes.zadat_zavadu') }}">Zadat závadu</a></li>
                        <li><a href="{{ url_for('routes.zavady') }}">Seznam závad</a></li>
                    </ul>
                </li>
                <li>
                    <a class="level" href="{{ url_for('routes.nalezy') }}">Nálezy</a>
                    <ul>
                        <li><a href="{{ url_for('routes.zadat_nalez') }}">Přidat nález</a></li>
                        <li><a href="{{ url_for('routes.nalezy') }}">Seznam nálezů</a></li>


                    </ul>
                </li>
                <li>
                    <a class="level" href="{{ url_for('routes.uklizeci') }}">Správa uživatelů</a>
                    <ul>
                        <li><a href="{{ url_for('routes.zadat_uklizeci') }}">Přidat uživatelů</a></li>
                        <li><a href="{{ url_for('routes.uklizeci') }}">Seznam uživatelů</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('routes.logout') }}" class="level">Odhlásit</a></li>
            </ul>
        </nav>
    </div>
    <div class="base-content">
        {% block body %} {% endblock %}
    </div>
</body>

</html>