<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='css/img/favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,700;0,900;1,700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="content">
        <a href="{{ url_for('routes.zadat_uklid') }}">
            <div class="card"> Zadat úklid</div>
        </a>
        <a href="{{ url_for('routes.zadat_zavadu') }}">
            <div class="card"> Zadat závadu</div>
        </a>
        <a href="{{ url_for('routes.zadat_nalez') }}">
            <div class="card"> Zadat nález</div>
        </a>
        <a href="{{ url_for('routes.uklidy') }}">
            <div class="card"> Seznam úklidů</div>
        </a>
        <a href="{{ url_for('routes.zavady') }}">
            <div class="card"> Seznam závad</div>
        </a>
        <a href="{{ url_for('routes.nalezy') }}">
            <div class="card"> Seznam nálezů</div>
        </a>
        <a href="{{ url_for('routes.zadat_uklizeci') }}">
            <div class="card">Přidat uklízeče</div>
        </a>
        <a href="{{ url_for('routes.uklizeci') }}">
            <div class="card">Správa úklidové čety</div>
        </a>
        <a href="{{ url_for('routes.login') }}">
            <div class="card">Odhlásit se</div>
        </a>
    </div>
</body>


</html>