{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="content">
    <h3>Seznam nálezů</h3>
    <table>
        <tr>
            <th>Pokoj</th>
            <th>Datum</th>
            <th>Popis</th>
        </tr>
        {% for n in nalezy %}
            <tr>
                <td>{{ n.room.number }}</td>
                <td>{{ n.date.strftime('%d-%m-%Y') }}</td>
                <td>{{ n.description }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}