{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="content">
    <h3>Seznam úklidů</h3>
    <table>
        <tr>
            <th>Pokoj</th>
            <th>Datum</th>
            <th>Typ</th>
        </tr>
        <tr>
            <td>5</td>
            <td>25.1.2021</td>
            <td>standatrní</td>
        </tr>
        <tr>
            <td>5</td>
            <td>25.1.2021</td>
            <td>standatrní</td>
        </tr>
        <tr>
            <td>5</td>
            <td>25.1.2021</td>
            <td>standatrní</td>
        </tr>
        <tr>
            <td>5</td>
            <td>25.1.2021</td>
            <td>standatrní</td>
        </tr>
    </table>
</div>
{% endblock %}