{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="content">
    <h3>Seznam pobytů</h3>
    <table>
        <tr>
            <td>Pokoj</td>
            <td>Počet osob</td>
            <td>Check-in</td>
            <td>Check-out</td>
        </tr>
        <tr>
            <th>5</th>
            <th>5</th>
            <th>25.1.2021</th>
            <th>27.1.2021</th>
        </tr>
        <tr>
            <th>5</th>
            <th>5</th>
            <th>22.1.2021</th>
            <th>28.1.2021</th>
        </tr>
        <tr>
            <th>5</th>
            <th>5</th>
            <th>26.1.2021</th>
            <th>30.1.2021</th>
        </tr>
        <tr>
            <th>5</th>
            <th>5</th>
            <th>17.1.2021</th>
            <th>29.1.2021</th>
        </tr>
    </table>
</div>
{% endblock %}