{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="content">
    <h3>Seznam pobytů</h3>
    <table>
        <tr>
            <th>Pokoj</th>
            <th>Počet osob</th>
            <th>Check-in</th>
            <th>Check-out</th>
        </tr>
        <tr>
            <td>5</td>
            <td>5</td>
            <td>25.1.2021</td>
            <td>27.1.2021</td>
        </tr>
        <tr>
            <td>5</td>
            <td>5</td>
            <td>17.1.2021</td>
            <td>29.1.2021</td>
        </tr>
        <tr>
            <td>5</td>
            <td>5</td>
            <td>25.1.2021</td>
            <td>27.1.2021</td>
        </tr>
                <tr>
            <td>5</td>
            <td>5</td>
            <td>25.1.2021</td>
            <td>27.1.2021</td>
        </tr>

    </table>
</div>
{% endblock %}