{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="content">
    <h3>Seznam pracovníku</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>Jméno</th>
            <th>Příjmení</th>
        </tr>
        <tr>
            <td>5</td>
            <td>Žaneta</td>
            <td>Úklidová</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Tereza</td>
            <td>Bambino</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Jarmila</td>
            <td>Křehká</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Igor</td>
            <td>Vyhodil</td>
        </tr>
    </table>
</div>
{% endblock %}