{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="content">
    <h3>Seznam úklidů</h3>
    <table>
        <tr>
            <td>Pokoj</td>
            <td>Datum</td>
            <td>Typ</td>
        </tr>
        <tr>
            <th>5</th>
            <th>25.1.2021</th>
            <th>standatrní</th>
        </tr>
        <tr>
            <th>5</th>
            <th>25.1.2021</th>
            <th>standatrní</th>
        </tr>
        <tr>
            <th>5</th>
            <th>25.1.2021</th>
            <th>standatrní</th>
        </tr>
        <tr>
            <th>5</th>
            <th>25.1.2021</th>
            <th>standatrní</th>
        </tr>
    </table>
</div>
{% endblock %}