{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<div class="content">
    <h3>Seznam úklidů</h3>
    <table>
        <tr id="header">
            <th>Pobyt (od-do)</th>
            <th>Pokoj</th>
            <th>Datum</th>
            <th>Čas</th>
            <th>Typ</th>
            <th>Splněno</th>
        </tr>
        <tr>
            <td>checkin/checkout</td>
            <td>5</td>
            <td>25.1.2021</td>
            <td>19:50:45</td>
            <td>standartní</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>checkin/checkout</td>
            <td>5</td>
            <td>25.1.2021</td>
            <td>19:50:45</td>
            <td>standartní</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>checkin/checkout</td>
            <td>5</td>
            <td>25.1.2021</td>
            <td>19:50:45</td>
            <td>standartní</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>checkin/checkout</td>
            <td>5</td>
            <td>25.1.2021</td>
            <td>19:50:45</td>
            <td>standartní</td>
            <td><input type="checkbox"></td>
        </tr>

    </table>
</div>
{% endblock %}