{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<div class="content">
    <h3>Seznam úklidů</h3>
    <table>
        <tr id="header">
            <th>Pokoj</th>
            <th>Datum</th>
            <th>Čas</th>
            <th>Typ</th>
            <th>Splněno</th>
        </tr>
        {% for u in uklidy %}
            <tr>
                <td>{{ u.room.number }}</td>
                <td>{{ u.to_be_completed }} </td>
                <td>{{ u.to_be_completed }} </td>
                <td>{{ u.c_type }}</td>
                <td><input type="checkbox" {% if u.completed %}checked{% endif %}></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}