{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="content">
    <h3>Seznam pracovníku</h3>
    <table>
        <tr>
            <td>Id</td>
            <td>Jméno</td>
            <td>Příjmení</td>
        </tr>
        <tr>
            <th>5</th>
            <th>Žaneta</th>
            <th>Úklidová</th>
        </tr>
        <tr>
            <th>5</th>
            <th>Tereza</th>
            <th>Bambino</th>
        </tr>
        <tr>
            <th>5</th>
            <th>Jarmila</th>
            <th>Křehká</th>
        </tr>
        <tr>
            <th>5</th>
            <th>Igor</th>
            <th>Vyhodil</th>
        </tr>
    </table>
</div>
{% endblock %}