{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="content">
    <h1>Zadat úklid</h1>
    <form method="POST" action="{{ url_for('routes.zadat_uklid') }}">
        <div class="form-content">
            <div class="grid">
                <h2>Číslo pokoje:</h2>
            </div>
            <div class="grid"><input type="number" name="number" id="number" class="pokoj-check" onkeyup="kontrola_pokoje(this.value)"></div>
            <script>
                function kontrola_pokoje(str) {
                    var rooms = {{rooms}};
                    print(rooms);
                    alert("hey");
                    {% for u in uklidy %}
                        var id = {{ u.room.number }};
                        var nalezen = 0;
                        if (id == str) {
                            nalezen = 1;
                            break;
                        } 
                    {% endfor %}*/
                    if (nalezen == 0) {
                            document.getElementById("pokoj-check").style.box-shadow = "none";
                    }else (nalezen == 1){
                            document.getElementById("pokoj-check").style.box-shadow = "0 0px 0px 0 rgb(255, 0, 0), 0 0px 6px 0 rgb(255, 0, 0)";
                            alert("Číslo tohoto pokoje neexistuje!");
                        } 
                    }
                }
            </script>
            <div class="grid">
                <h2>Datum a čas:</h2>
                <p>pro dokončení úklidu</p>
            </div>
            <div class="grid"> <input type="datetime-local" name="date" id="date"></div>
            <div class="grid">
                <h2>Typ úklidu:</h2>
            </div>
            <div class="grid">
                <select name="type" id="type">
                    <option value="0" selected>Standartní</option>
                    <option value="1">Předúklid</option>
                    <option value="2">Minibar</option>
                    <option value="3">Kompletní</option>
                </select>
            </div>
            <div class="grid"><a href="{{url_for('routes.uklidy')}}">Seznam všech úklidů</a></div>
            <div class="grid"><input type="submit" value="Zadat"></div>
        </div>
    </form>
</div>
{% endblock %}