{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="content">
    <h1>Zadat úklid</h1>
    <form method="POST" action="{{ url_for('routes.zadat_uklid') }}">
        <div class="form-content">
            <div class="grid">
                <h2>Číslo pokoje:</h2>
            </div>
            
            <div class="grid" id="pokoj-check"><input type="number" name="number" id="number"  onkeyup="kontrola_pokoje(this.value)"></div>
            <script>
                function kontrola_pokoje(str) {
                    var rooms = {{rooms | safe}};
                    var nalezen = 0;
                    for (i = 0; i < rooms.length; i++) {
                        if(str == rooms[i]){
                            nalezen = 1;
                        }
                    } 
                    if (nalezen == 1) {
                            document.getElementById("pokoj-check").style.boxShadow = "0 0px 0px 0 rgb( 0,255, 0), 0 0px 6px 0 rgb( 0,255, 0)";
                    }else if(nalezen == 0){
                            document.getElementById("pokoj-check").style.boxShadow = "0 0px 0px 0 rgb(255, 0, 0), 0 0px 6px 0 rgb(255, 0, 0)";
                        } 
                    }
                
            </script>
            <div class="grid">
                <h2>Datum a čas:</h2>
                <p>pro dokončení úklidu</p>
            </div>
            <div class="grid"> <input type="datetime-local" name="date" id="date"></div>
            <div class="grid">
                <h2>Typ úklidu:</h2>
            </div>
            <div class="grid">
                <select name="type" id="type">
                    <option value="0" selected>Standartní</option>
                    <option value="1">Předúklid</option>
                    <option value="2">Minibar</option>
                    <option value="3">Kompletní</option>
                </select>
            </div>
            <div class="grid"><a href="{{url_for('routes.uklidy')}}">Seznam všech úklidů</a></div>
            <div class="grid"><input type="submit" value="Zadat"></div>
        </div>
    </form>
</div>
{% endblock %}