{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="content">
    <h1>Přidat uklízeče</h1>
    <div class="form-content">
        <div class="grid">
            <h2>Jméno</h2>
        </div>
        <div class="grid"><input type="text"></div>
        <div class="grid">
            <h2>Příjmení</h2>
        </div>
        <div class="grid"><input type="text"></div>
        <div class="grid">
            <h2>Login:</h2>
        </div>
        <div class="grid"><input type="text"></div>
        <div class="grid">
            <h2>Heslo</h2>
        </div>
        <div class="grid"><input type="text"></div>
        <div class="grid">
            <h2>Admin</h2>
        </div>
        <div class="grid"><input type="checkbox"></div>
        <div class="grid"><input type="submit" value="Seznam všech úklidů"></div>
        <div class="grid"><input type="submit" value="Zadat"></div>
    </div>
</div>
{% endblock %}