{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="content">
    <h1>Zadat závadu</h1>
    <form method="POST" action="{{ url_for('routes.zadat_zavadu') }}">
        <div class="form-content">
            <div class="grid">
                <h2>Pokoj:</h2>
            </div>
            <div class="grid" >
                <input type="number" name="number" id="test">
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script type=text/javascript>
                        $(function() {
                        $('a#test').on('keyup', function(e) {
                            e.preventDefault()
                            $.getJSON('/room_check',
                                function(data) {
                            //do nothing
                            });
                            return false;
                        });
                        });
                </script>
                <span id="error" style="color:red;font-size:15px;display:none">Tento pokoj neexistuje</span>
            </div>
            <!--<script>
                function kontrola_pokoje(str) {
                    var rooms = {{rooms | safe}};
                    var nalezen = 0;
                    for (i = 0; i < rooms.length; i++) {
                        if(str == rooms[i]){
                            nalezen = 1;
                        }
                    } 
                    if (nalezen == 1) {
                        document.getElementById("pokoj-check").style.boxShadow = "0 0px 0px 0 rgb( 0,255, 0), 0 0px 6px 0 rgb( 0,255, 0)";
                        document.getElementById("error").style.display="none";
                    }else if(nalezen == 0){
                        document.getElementById("pokoj-check").style.boxShadow = "0 0px 0px 0 rgb(255, 0, 0), 0 0px 6px 0 rgb(255, 0, 0)";
                        document.getElementById("error").style.display="block";
                        } 
                    if(str == ""){
                        document.getElementById("pokoj-check").style.boxShadow = "0 0px 0px 0 rgb( 0,0, 0), 0 0px 0px 0 rgb( 0,0, 0)";
                        document.getElementById("error").style.display="none";
                    }
                    }
                
            </script>-->
            <div class="grid">
                <h2>Datum:</h2>
            </div>
            <div class="grid">
                <input type="date" name="date" id="date">
            </div>
            <div class="grid">
                <h2>Popis závady:</h2>
            </div>
            <div class="grid">
                <input name="description" id="description" type="text">
            </div>
            <div class="grid">
                <a href="{{ url_for('routes.zavady') }}">Seznam všech závad</a>
            </div>
            <div class="grid">
                <input type="submit" value="Zadat">
            </div>
        </div>
    </form>
</div>
{% endblock %}