{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="content">
    <h1>Přidat uživatele</h1>
    <form method="POST" action="{{ url_for('routes.zadat_uklizeci') }}">
        <div class="form-content">
            <div class="grid">
                <h2>Jméno:</h2>
            </div>
            <div class="grid">
                <input type="text" placeholder="Zadejte jméno" id="name" name="name">
            </div>
            <div class="grid">
                <h2>Příjmení:</h2>
            </div>
            <div class="grid">
                <input type="text" placeholder="Zadejte příjmení" name="surname" id="surname">
            </div>
            <div class="grid">
                <h2>Login:</h2>
            </div>
            <div class="grid">
                <input type="text" placeholder="Zadejte login" name="login" id="login">
            </div>
            <div class="grid">
                <h2>Heslo:</h2>
            </div>
            <div class="grid">
                <input placeholder="Zadejte heslo" type="password" name="password" id="password">
            </div>
            <div class="grid">
                <h2>Admin(Ano/Ne)</h2>
            </div>
            <div class="grid">
                <label class="checkmark">
                    <input type="checkbox" name="admin" is="admin">
                    <span class="checkbox-custom rectangular"></span>
                </label>
            </div>
            <div class="grid">
                <a href="{{url_for('routes.uklizeci')}}">Seznam všech uživatelů</a>
            </div>
            <div class="grid">
                <input type="submit" value="Zadat">
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}