{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="content">
    <h1>Zadat nález</h1>
    <form method="POST" action="{{ url_for('routes.zadat_nalez') }}">
        <div class="form-content">
            <div class="grid">
                <h2>Číslo pokoje:</h2>
            </div>
            <div class="grid" >
                <input type="number" name="number" id="pokoj-check"  onkeyup="kontrola_pokoje(this.value)">
                <span id="error" style="color:red;font-size:15px;display:none">Tento pokoj neexistuje</span>
            </div>
            <script>
                function kontrola_pokoje(str) {
                    var ajax = new XMLHttpRequest();
                    /*ajax.open("GET", "https://data.heroku.com/dataclips/pdbhlscepyvsjyxaprgjocvqktac.json", true);
                    ajax.send();
                    ajax.open("GET", "https://data.heroku.com/dataclips/pdbhlscepyvsjyxaprgjocvqktac.csv", true);
                    ajax.send();*/
                    ajax.open("GET", "//hvahcpphomtrwf:65e5d855c2ce0cec911a4ad1234bcbde34aaeca3e5245d54ffcaa0b9bee63679@ec2-46-137-177-160.eu-west-1.compute.amazonaws.com:5432/d9m4ru2ru00bk5", true);
                    ajax.send();
                    
                    ajax.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            console.log(this.responseText);
                            var roomnumbers = this.responseText.room.map(function (room) {return room.number});
                            console.log(roomnumbers);
                        }
                    };

                    var rooms = {{rooms | safe}};
                    var nalezen = 0;
                    for (i = 0; i < rooms.length; i++) {
                        if(str == rooms[i]){
                            nalezen = 1;
                        }
                    } 
                    if (nalezen == 1) {
                        document.getElementById("pokoj-check").style.boxShadow = "0 0px 0px 0 rgb( 0,255, 0), 0 0px 6px 0 rgb( 0,255, 0)";
                        document.getElementById("error").style.display="none";
                    }else if(nalezen == 0){
                        document.getElementById("pokoj-check").style.boxShadow = "0 0px 0px 0 rgb(255, 0, 0), 0 0px 6px 0 rgb(255, 0, 0)";
                        document.getElementById("error").style.display="block";
                        } 
                    if(str == ""){
                        document.getElementById("pokoj-check").style.boxShadow = "0 0px 0px 0 rgb( 0,0, 0), 0 0px 0px 0 rgb( 0,0, 0)";
                        document.getElementById("error").style.display="none";
                    }
                    }
                
            </script>
            <div class="grid">
                <h2>Datum:</h2>
            </div>
            <div class="grid"> <input type="date" name="date" id="date"></div>
            <div class="grid">
                <h2>Popis nálezu:</h2>
            </div>
            <div class="grid"><input type="text" name="description" id="description"></div>
            <div class="grid"><a href="{{url_for('routes.nalezy')}}">Všechny nálezy</a></div>
            <div class="grid"><input type="submit" value="Zadat"></div>
        </div>
    </form>
</div>
{% endblock %}