{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="content">
    <div class="content_for_forms">
        <h1>Zadat závadu</h1>
        <div class="form-content">
            <div class="grid">
                <h2>Pokoj:</h2>
            </div>
            <div class="grid"><input type="number"></div>
            <div class="grid">
                <h2>Typ:</h2>
            </div>
            <div class="grid"><select name="type">
            <option value="1" selected>Světlo</option>
            <option value="2">Topení</option>
            <option value="3">Koupelna</option>
            <option value="4">Nábytek</option>
        </select></div>
            <div class="grid">
                <h2>Popis závady:</h2>
            </div>
            <div class="grid"><input type="text"></div>
            <div class="grid"><input type="submit" value="Seznam všech závad"></div>
            <div class="grid"><input type="submit" value="Zadat"></div>
        </div>
    </div>
</div>
{% endblock %}