{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="content">
    <h3>Seznam závad</h3>
    <table>
        <tr>
            <td>Pokoj</td>
            <td>Datum</td>
            <td>Popis</td>
        </tr>
        <tr>
            <th>5</th>
            <th>25.1.2021</th>
            <th>rozbitý ovladač</th>
        </tr>
        <tr>
            <th>5</th>
            <th>25.1.2021</th>
            <th>prasklé žárovky</th>
        </tr>
        <tr>
            <th>5</th>
            <th>25.1.2021</th>
            <th>nefunguje topení</th>
        </tr>
        <tr>
            <th>5</th>
            <th>25.1.2021</th>
            <th>nefunguje klimatizace</th>
        </tr>
    </table>
</div>
{% endblock %}